.header__detail {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}

.sec1__detail {
  width: 50%;
}
.sec1__detail > div > h1 {
  margin: 30px 0px;
  font-size: 45px;
}
.sec1__detail > div > h4 {
  margin: 20px 0px;
  font-size: 25px;
}
.sec1__detail > div {
  margin-left: 40px;
  justify-content: center;
}

.span__name {
  color: #f05218;
}
.button__hire {
  margin: 10px 20px 10px 0px;
  padding: 10px 25px;
  background-color: #083251;
  color: #fcf6f6;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 1s;
  box-shadow: 5px 10px 5px -4px rgb(150, 146, 146);
  transition: 1s ease;
}
.button__hire:hover {
  color: white;
}

.section2__img {
  position: relative;
  top: 25px;
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  background: url(../Image/image0__2_-removebg-preview.png) no-repeat 70px 50px;
  transition: 1s ease;
}
.section2__img:hover {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  background: url(../Image/image0__2_-removebg-preview.png) no-repeat 20px 20px;
}
.imgbox {
  height: 100%;
  position: relative;
  width: 100%;
  top: 100px;
  z-index: 1;
  transition: 1s ease;
}

.imgbox:hover {
  height: 100%;
  position: relative;
  width: 100%;
  top: 80px;
  z-index: 1;
}

.aside__font {
  margin: 20px 0px;
  font-size: 30px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}
a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
a:hover {
  transform: scale(1.2);
}
.img__coding {
  display: none;
}
@media only screen and (max-width: 700px) {
  .header__detail {
    display: block;
    height: auto;
  }
  .sec1__detail {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img__coding {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  .section2__img {
    height: auto;
    display: none;
  }

  /* .section2__img:hover {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    background: none;
    transition: 1s ease-in-out;
  } */
  .imgbox {
    height: auto;
    position: relative;
    width: 100%;
    top: 0px;
    z-index: 1;
    transition: 1s ease;
  }
  .section2__img {
    display: none;
  }
  .section2__img:hover {
    display: none;
  }
  .header__home__page {
    min-height: 150vh;
  }
  .for_skill {
    width: 100%;
  }
  .span__name {
    color: #11b33c;
  }
}
@media only screen and (min-width: 1300px) {
  .section2__img {
    position: relative;
    /* top: 25px; */
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url(../Image/image0__2_-removebg-preview.png) no-repeat
      no-repeat 100px 110px;
    transition: 1s ease;
  }
  .section2__img:hover {
    position: relative;
    /* top: 25px; */
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url(../Image/image0__2_-removebg-preview.png) no-repeat 20px
      20px;

    transition: 1s ease;
  }
  /* .section2__img:hover {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
  } */
}
