.skill__top {
  height: 100vh;
  width: 100%;
  display: flex;
  background: rgb(228, 235, 239);

  align-items: center;
}
.for_skill {
  width: 85%;
  height: 70vh;
  border-radius: 0px 80px 20px 0px;
  border: 2px solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px -3px rgb(6, 27, 69);
}
.article1__skills {
  width: 100%;

  display: flex;
  justify-content: center;
}
.article1__skills > h4 {
  margin: 10px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.font__article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 55px;
}

.font__article > div {
  margin: 20px;
  line-height: 15px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.25s;
}
.font__article > div:hover {
  color: #f05218;
}
.font__article > div > p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  transition: all ease-in-out 0.25s;
}

.hover-underline-animation3 {
  display: inline-block;
  position: relative;
  color: #0c0c0c;
}

.hover-underline-animation3:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #050606;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation3:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 1000px) {
  .font__article {
    display: flex;
    font-size: 40px;
  }
  /* .font__article > div {
    width: 100px;
    margin: 20px;
  } */
}

@media only screen and (max-width: 900px) {
  .for_skill {
    width: 98%;
    min-height: 50vh;
  }
  .font__article {
    display: flex;
    font-size: 50px;
    margin: 20px;
  }
  .font__article > div {
    width: 100px;
    margin: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .for_skill {
    width: 98%;
    min-height: 50vh;
  }
  .font__article {
    display: flex;
    font-size: 40px;
    margin: 10px;
  }
  .font__article > div {
    width: 100px;
    margin: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .for_skill {
    width: 98%;
    min-height: 80vh;
  }
  .font__article {
    display: flex;
  }
  .font__article > div {
    width: 100px;
    margin: 5px;
  }
  .font__article > div > p {
    font-size: medium;
  }
}
/* @media only screen and (min-width: 1380px) {
  .for_skill {
    width: 98%;
    min-height: 60vh;
  }
  .font__article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .font__article > div {
    width: 300px;
    margin: 25px;
  }
  .font__article > div > p {
    font-size: large;
  }
} */
